:root{
    --cor-primaria: #EAECCC;
    --cor-secundaria: #808080;
    --link-ativo: #333333;
    --cor-fundo: #F2ECBE;
    --cor-vermelho: #8d0606;
    --fonte-primaria: Pacifico, cursive;
}
